page-cook-web {
  .share-btns {
    display: none;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  .detail-title {
    text-align: left;
    font-size: 1.8rem;
    line-height: 3.48148rem;
    color: #2b98ed;
  }
  .mod-hd .more-orange {
    color: #fa8c2e;
  }

}
